body {
  padding: 0px;
  margin: 0px;

}
.navbar-brand{
	width:105px;
	height:40px;
	margin-left: 8px;
}
.navbar.navbar-expand-md{background-color: darkorange;
	margin:0px;
	padding:1px;}
.nav-link{color:white;}
.nav-link a{color:white;
	font-style: normal;}
.navbar-collapse{margin-left: 10px;}

#sidebar-wrapper {
	min-height: 100vh;
	margin-left: -15rem;
	-webkit-transition: margin .25s ease-out;
	-moz-transition: margin .25s ease-out;
	-o-transition: margin .25s ease-out;
	transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
	padding: 0.875rem 1.25rem;
	font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
	width: 13rem;
}

#page-content-wrapper {
	min-width: 80vw;
	margin: 25px;

}

#wrapper.toggled #sidebar-wrapper {
	margin-left: 0;
}

@media (min-width: 560px) {
	#sidebar-wrapper {
		margin-left: 0;
	}

	#page-content-wrapper {
		min-width: 80vw;
		margin-left: 10px;
	}

	#wrapper.toggled #sidebar-wrapper {
		margin-left: -15rem;
	}}
.container{
	background-color: lightgrey;
	margin:20px;
	padding:8px;
	min-height: 375px;
}
.postagem{
	background-color: #d5d5d5;
	width:650px;
	height: 225px;
	margin:25px;
	margin-left: 150px;
	padding:10px;
	box-shadow: 5px 5px rgba(1,1,1,0);
	overflow-wrap: break-word;
}
	.feature-title{
	padding-top: 20px;
	margin-bottom: 25px;
	margin-left: 15px;
	}
	.header a{
		float:right;
		margin:5px;
		background-color: silver;
	}
	.fotoLivro{
		float:left;
		width:80px;
		margin-left: 7px;
		margin-right: 15px;
	}
.containerdados{
	display: inline-block;
	width:670px;
}
	.dados{
		display: inline-block;
		width:450px;
	}
	.user{
		display: inline-block;
		float: right;
		text-align: center;
		margin: 10px;
		margin-top: 15px;		
	}	
	.fotoUser{
		height:80px;
		border-radius: 50%;
	}
	.fotoEstrela{
		height:13px;
	}
.nav-link img{
		height:25px;
		display: inline-block;
	border-radius:50%;
	}

@media (max-width: 980px) {
	.postagem{
		display: inline-block;
		background-color: #d5d5d5;
		width:100%;
		height: 240px;
		margin:0px;
		margin-bottom: 20px;
		margin-left: 0;
		padding:5px;
		box-shadow: 5px 5px rgba(1,1,1,0);
	}
	containerdados{
		width:350px;
	}
	.btn {
      margin-top: 20px;
      width: 90%; 
      margin-right: 10%;
    }
}		
@media (max-width: 753px) {
	.postagem{
		display: inline-block;
		background-color: #d0d0d0;
		width:100%;
		height: 275px;
		margin:0px;
		margin-bottom: 35px;
		margin-left: 0px;
		padding:5px;
		padding-left:20px;
	}
	.btn {
      margin-top: 20px;
      width: 97%; 
      margin-right: 10%;
    }
	.container{
		height: 530px;
	}
	containerdados{
		width: 400px;
	}
	.containerdados h4{
		font-size: 20px;
	}
	.containerdados h5{margin-right: 50px;
		font-size: 14px;
	}
	.containerdados h6{
		font-size: 14px;}
	.dados h4{
		font-size: 20px;
	}
    .dados h5{margin-right: 50px;
	font-size: 14px;
    }
	.dados h6{
		font-size: 14px;
	}
	.user{
		text-align: center;
		width: 100%;
		margin-right: 10px;
		margin-top:6px;
	}
	.user h5{
		display: inline-block;
		font-size: 20px;
	}
	.fotoUser{
		display: inline-block;
		height: 30px;
		border-radius:50%;
	}
}		